@charset "UTF-8";
/*Variables */
/*G├®n├®ral */
.wrapper-width {
  width: 960px;
  margin: 0 auto; }

body {
  background: none repeat scroll 0 0 #5f7092; }

.wrapper {
  background: none repeat scroll 0 0 #FFFFFF; }

/*Header */
.wrapper__header {
  position: relative; }
  .wrapper__header:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both; }
  .wrapper__header .wrapper__header__logo {
    float: left; }
  .wrapper__header .wrapper__header__user {
    float: right;
    margin-top: 15px; }
    .wrapper__header .wrapper__header__user .header-nav__user {
      display: inline-block;
      margin-right: 20px; }
  .wrapper__header .wrapper__header__search-form {
    float: right;
    margin-top: 15px;
    margin-right: 20px; }
    .wrapper__header .wrapper__header__search-form .wrapper__header__search-form__elem {
      float: left;
      height: 35px; }
      .wrapper__header .wrapper__header__search-form .wrapper__header__search-form__elem .text {
        height: 35px; }
      .wrapper__header .wrapper__header__search-form .wrapper__header__search-form__elem.btn--color-grey {
        box-shadow: none;
        border-radius: 0 3px 3px 0; }
  .wrapper__header .absolute-bottom-right {
    position: absolute;
    right: 0;
    bottom: 22px; }
  .wrapper__header .wrapper__header__partenaire-edi {
    clear: right;
    float: right;
    font-family: Georgia, serif;
    color: #e1001a;
    font-size: 12px;
    font-style: italic; }
  .wrapper__header .wrapper__header__accroche {
    clear: right;
    float: right;
    font-family: Georgia, serif;
    color: #808080;
    font-size: 18px;
    font-style: italic; }

.wrapper__menu {
  background: #002e60; }

.wrapper__menu__lvl1:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both; }
.wrapper__menu__lvl1 .wrapper__menu__lvl1__elem {
  float: left;
  width: 16.6666%; }
  .wrapper__menu__lvl1 .wrapper__menu__lvl1__elem .wrapper__menu__lvl1__link {
    display: block;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 38px; }
  .wrapper__menu__lvl1 .wrapper__menu__lvl1__elem .wrapper__menu__lvl2 {
    display: none;
    background: #002e60;
    position: absolute;
    margin: -5px;
    padding: 0 5px; }
    .wrapper__menu__lvl1 .wrapper__menu__lvl1__elem .wrapper__menu__lvl2 .wrapper__menu__lvl2__link {
      display: block;
      color: #FFFFFF;
      font-size: 13px;
      line-height: 22px; }
  .wrapper__menu__lvl1 .wrapper__menu__lvl1__elem:hover .wrapper__menu__lvl2 {
    display: block; }

/*Content */
.wrapper__content--2col {
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #f7f7fa 50%, #f7f7fa 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #f7f7fa), color-stop(100%, #f7f7fa));
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 50%, #f7f7fa 50%, #f7f7fa 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 50%, #f7f7fa 50%, #f7f7fa 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #ffffff 50%, #f7f7fa 50%, #f7f7fa 100%);
  background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #f7f7fa 50%, #f7f7fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$color--lightgrey',GradientType=1 ); }
  .wrapper__content--2col .table-cell--main {
    background: #FFFFFF; }
  .wrapper__content--2col .table-cell--aside {
    width: 300px;
    background: #f7f7fa;
    color: #5f7092;
    font-size: 13px; }
    .wrapper__content--2col .table-cell--aside .aside__title {
      font-family: Georgia, serif;
      font-size: 18px;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 40px;
      margin-left: -6px; }
      .wrapper__content--2col .table-cell--aside .aside__title:after {
        display: table;
        line-height: 0;
        content: "";
        clear: both; }
      .wrapper__content--2col .table-cell--aside .aside__title .aside__title__left {
        float: left; }
      .wrapper__content--2col .table-cell--aside .aside__title .aside__title__center {
        float: left; }
        .wrapper__content--2col .table-cell--aside .aside__title .aside__title__center .aside__title__center__icon {
          margin-right: 12px; }
      .wrapper__content--2col .table-cell--aside .aside__title .aside__title__right {
        float: left; }
      .wrapper__content--2col .table-cell--aside .aside__title .aside__title__left--blue {
        background: url(/app/ntd/pix/general/aside_title_blue_left.png) no-repeat top left;
        width: 6px;
        height: 46px; }
      .wrapper__content--2col .table-cell--aside .aside__title .aside__title__center--blue {
        background: #002e60;
        height: 40px;
        padding-right: 30px;
        padding-left: 10px; }
      .wrapper__content--2col .table-cell--aside .aside__title .aside__title__right--blue {
        background: url(/app/ntd/pix/general/aside_title_blue_right.png) no-repeat top left;
        width: 11px;
        height: 40px; }
      .wrapper__content--2col .table-cell--aside .aside__title .aside__title__left--red {
        background: url(/app/ntd/pix/general/aside_title_red_left.png) no-repeat top left;
        width: 6px;
        height: 46px; }
      .wrapper__content--2col .table-cell--aside .aside__title .aside__title__center--red {
        background: #d81c32;
        border-bottom: 1px solid #b31729;
        height: 41px;
        padding-right: 30px;
        padding-left: 10px; }
      .wrapper__content--2col .table-cell--aside .aside__title .aside__title__right--red {
        background: url(/app/ntd/pix/general/aside_title_red_right.png) no-repeat top left;
        width: 12px;
        height: 41px; }

.wrapper__content--2cols--bluewhite {
  background: #f7f7fa;
  background: -moz-linear-gradient(left, #f7f7fa 0%, #f7f7fa 50%, #FFFFFF 50%, #FFFFFF 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f7f7fa), color-stop(50%, #f7f7fa), color-stop(50%, #FFFFFF), color-stop(100%, #FFFFFF));
  background: -webkit-linear-gradient(left, #f7f7fa 0%, #f7f7fa 50%, #FFFFFF 50%, #FFFFFF 100%);
  background: -o-linear-gradient(left, #f7f7fa 0%, #f7f7fa 50%, #FFFFFF 50%, #FFFFFF 100%);
  background: -ms-linear-gradient(left, #f7f7fa 0%, #f7f7fa 50%, #FFFFFF 50%, #FFFFFF 100%);
  background: linear-gradient(to right, #f7f7fa 0%, #f7f7fa 50%, #FFFFFF 50%, #FFFFFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color--lightgrey', endColorstr='#FFFFFF',GradientType=1 ); }

.wrapper__content--2cols--bluewhite__col-white {
  background: #FFFFFF;
  vertical-align: top; }

.wrapper__content--2cols--bluewhite__col-blue {
  width: 270px;
  background: #f7f7fa;
  color: #5f7092;
  font-size: 13px;
  padding-right: 30px;
  vertical-align: top; }

.white-nav {
  border-bottom: 1px solid #dadee6;
  margin-top: 13px; }
  .white-nav .white-nav__link {
    display: block;
    background: #ffffff;
    color: #002e60;
    font-size: 14px;
    border: 1px solid #dadee6;
    border-bottom: 0;
    line-height: 41px;
    padding-left: 17px;
    text-decoration: none; }
    .white-nav .white-nav__link .white-nav__link__icon {
      float: right;
      margin: 11px 11px 0 0;
      font-size: 18px; }
    .white-nav .white-nav__link:hover .white-nav__link__icon {
      color: #df2b40; }
  .white-nav .white-nav__link--selected {
    color: #df2b40;
    font-weight: bold; }

.list-arrow {
  border-top: 1px solid #dadee6; }
  .list-arrow .list-arrow__item {
    color: #002e60;
    padding: 11px 0 11px 8px;
    border-bottom: 1px solid #dadee6;
    font-size: 14px; }
  .list-arrow .list-arrow__item--selected {
    color: #df2b40; }

/*Footer */
.wrapper__footer-padding-bottom {
  padding-bottom: 41px; }

.wrapper__footer-padding {
  padding-bottom: 41px;
  padding-top: 100px; }

.wrapper__footer__border-top {
  background: transparent url(/app/ntd/pix/general/footer_border_top.png) repeat-x top left;
  height: 11px;
  margin-top: -11px; }

.wrapper__footer__menu {
  background: #002e60;
  padding: 60px 0 70px; }
  .wrapper__footer__menu:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both; }
  .wrapper__footer__menu .wrapper__footer__menu__lvl1 {
    float: left;
    width: 20%; }
    .wrapper__footer__menu .wrapper__footer__menu__lvl1 .wrapper__footer__menu__lvl1__elem {
      color: #FFFFFF;
      font-size: 13px; }
    .wrapper__footer__menu .wrapper__footer__menu__lvl1 .wrapper__footer__menu__lvl1__elem--first {
      font-family: Georgia, serif;
      font-size: 20px;
      margin-bottom: 12px; }

.wrapper__footer__bottom {
  background: #5f7092;
  padding: 23px 0 28px;
  font-size: 11px;
  color: #FFFFFF; }
  .wrapper__footer__bottom .wrapper__footer__bottom__logo {
    margin-right: 30px; }

/*# sourceMappingURL=front.css.map */
